:root {
    /* color */
    --white-color: #fff ; 
    --black-light-color: #140a00;
    --black-dark-color: #000000;
    --blue-color: #045fd4;
    --red-color: #ff0000;
    --grey-dark-color: #909090;
    --grey-light-color: #e0e0e0;

    /* size */
    --padding: 12px;
    --avatar-size: 36px;

    /* font size */
    --font-large: 24px;
    --font-medium: 20px;
    --font-small: 18px;
    --font-micro: 16px;
    --font-icon:20px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
}

ul {
    list-style: none;
}

button, button:focus {
    border: none;
    cursor: pointer;
    outline: none;
    background-color: var(--white-color);
}


/* header */
header {
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
    background-color: var(--black-light-color);
    color: var(--white-color);
}

header .logo {
    font-size: var(--font-large);
}
header .logo i{
    color: var(--red-color);
}

header .icons .fa-search {
    margin-right: var(--padding);
}

/* video player*/
.player {
    text-align: center;
    background-color: var(--black-dark-color);
    position: sticky;
    top: 0;
}

.player video {
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
}

body .infoAndUpNext > .info {
    padding: var(--padding);
}

body .infoAndUpNext > .info .metadata .hashtags {
    display: flex;
    font-size: var(--font-small);
    color: var(--blue-color);
}

body .infoAndUpNext > .info .metadata .hashtages li {
    margin-right: var(--padding);
}

body .infoAndUpNext > .info .metadata .titleAndButton {
    display: flex;
    justify-content: space-between;
}

body .infoAndUpNext > .info .metadata .titleAndButton .title {
    font-size: var(--font-medium);
}


body .infoAndUpNext > .info .metadata .titleAndButton .title.clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
body .infoAndUpNext > .info .metadata .titleAndButton .moreBtn {
    height: 100%;
}

body .infoAndUpNext > .info .metadata .titleAndButton .moreBtn.clicked {
    transform: rotate(180deg);
}

body .infoAndUpNext > .info .views {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: var(--font-small);
    color: var(--grey-dark-color);
}

body .infoAndUpNext > .info .actions {
    display: flex;
    justify-content:  space-around;
    margin: var(--padding) 0;
}

body .infoAndUpNext > .info .actions button {
    display: flex;
    flex-direction: column;
    font-size: var(--font-small);
    color: var(--grey-dark-color);
}

body .infoAndUpNext > .info .actions button i {
    margin: 0 auto;
    margin-bottom: calc(var(--padding)/2);
    font-size: var(--font-icon);
}

body .infoAndUpNext > .info .actions button i.active {
    color: var(--blue-color);
}

.channel {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--grey-light-color);
    border-bottom: 1px solid var(--grey-light-color);
}

.channel .metadata {
    display: flex;
    align-items: center;
}

.channel .metadata img {
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
    margin: var(--padding);
}

.channel .metadata .info {
    display: flex;
    flex-direction: column;
}

.channel .metadata .info .name {
    font-size: var(--font-medium);
}

.channel .metadata .info .subscribers {
    font-size: var(--font-small);
    color: var(--grey-dark-color);
}

.channel .subscribe {
    text-transform: uppercase;
    color: var(--red-color);
    font-size: var(--font-micro);
}

.upNext {
    padding: 0 var(--padding);
}


.upNext > .title {
    font-size: var(--font-medium);
    color: var(--grey-dark-color);
    margin-bottom: calc(var(--padding) / 2);
}

.upNext .item {
    display: flex;
    margin: var(--padding);
}

.upNext .item .img img{
    max-width: 100%;
    max-height: 100%;
}

.upNext .item .img {
    flex: 1 1 35%;
    aspect-ratio: 16 / 9;
    background-color: var(--black-dark-color);
    text-align: center;
    margin-right: var(--padding);
}

.upNext .item .info {
    flex: 1 1 60%;
}


.upNext .item .moreBtn {
    flex: 1 1 5%;
}

.upNext .item .info {
    display: flex;
    flex-direction: column;
}

.upNext .item .info .title {
    font-size: var(--font-small);
}

.upNext .item .info .name,
.upNext .item .info .views {
    font-size: var(--font-micro);
    color: var(--grey-dark-color);
}

.infoAndUpNext {
    display: flex;
    flex-direction: column;
}

@media(min-width: 786px) {
    .infoAndUpNext{
        display: flex;
        flex-direction: row;
        margin: var(--padding) 0;
    }

    .infoAndUpNext .info {
        flex: 1 1 60%;
    }

    .infoAndUpNext .upNext {
        flex: 1 1 40%;
    }
}